.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;

    &_logo img {
        min-width: 12.5rem;
     
    }

    &_menu {
        display: flex;
        &_item {
            margin:30px;
            font-size: 2.4rem;
            white-space: nowrap;
           
            &_link {
                
                &:hover {
                    color: #c317af;
                    transition: 0.3s;
                }
            }
        }
        
    }
    &_actions {
        display: flex;
        
        .button {
            width: 14.3rem;
            height: 5.3rem;
            border-radius: 1.5rem;
            border: 0.1rem solid #000;
            font-size: 2.2rem;
            cursor: pointer;
        }

        &_sign {           
            background-color: transparent;
            
            &:hover {
                background-color: #9A9FE1;
                transition: 0.5s;
                border: 0.1rem solid #37316fd8;
                color: #fff;
            }
        }

        &_login {
            border: none;
            background-color: #000;
            color: #fff;
            margin-left: 4rem;

            &:hover {
                background-color: #9A9FE1;
                transition: 0.5s;
                border: 0.1rem solid #37316fd8;
            }
        }
    }
}
@media screen and (max-width: 780px) {
    .header {
        &_menu {
            display: none;
        }
    }
}