.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;

    &_logo img {
        min-width: 12.5rem;
     
    }

    &_menu {
        display: flex;
        &_item {
            margin:30px;
            font-size: 2.4rem;
            white-space: nowrap;
           
        }
        &_item:hover {
            color: #952cce;
            transition: 0.3s;
        }
    }
    &_actions {
        display: flex;

        &_sign {
            width: 14.3rem;
            height: 5.3rem;
            border-radius: 1.5rem;
            border: 0.1rem solid #000;
            font-size: 2.2rem;
            background-color: transparent;
            cursor: pointer;
        }
        &_sign:hover {
            background-color: #9A9FE1;
            transition: 0.5s;
            border: 0.1rem solid #37316fd8;
            color: #fff;
        }

        &_login {
            width: 14.3rem;
            height: 5.3rem;
            border-radius: 1.5rem;
            border: none;
            background-color: #000;
            color: #fff;
            font-size: 2.2rem;
            margin-left: 4rem;
            cursor: pointer;
        }
        &_login:hover {
            background-color: #9A9FE1;
            transition: 0.5s;
            border: 0.1rem solid #37316fd8;
        }
    }
}
@media screen and (max-width: 780px) {
    .header {
        &_menu {
            display: none;
        }
    }
    
}