<div class="header">
    <div class="header_logo">
        <img src="assets/logo.png" alt="Logo header">
    </div>

    <ul class="header_menu">
        <a href="">
            <li class="header_menu_item">How it works</li>
        </a>
        <a href="">
            <li class="header_menu_item">Payment</li>
        </a>
        <a href="">
            <li class="header_menu_item">Help</li>
        </a>
        <a href="">
            <li class="header_menu_item">Blog</li>
        </a>
    </ul>

    <div class="header_actions">
        <button class="header_actions_sign">Sign up</button>
        <button class="header_actions_login">Log in</button>
    </div>
</div>